.content {
  max-width: 700px;

  > .split {
    display: flex;

    > .sidebar {
      background-color: #645c5c;
      flex: 1;
      height: fit-content;

      > a {
        display: block;
        padding: 8px;
        text-decoration: none;
        color: #d7c584;
        transition: all .1s;

        &:hover, &.active {
          color: #d7a784;
        }
      }
    }

    > .main {
      background-color: #504848;
      width: 80%;

      > .view {
        padding: 16px;

        > h2 {
          margin: 0;
        }

        > table {
          width: 100%;

          td, th {
            max-width: 300px;
          }

          td {
            text-align: center;
            > a {
              color: #d7c584;
            }
            &.actions {
              display: flex;
              justify-content: center;
              width: 100%;
              gap: 8px;
            }
            > .truncate {
              display: block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            > .action {
              background-color: #d78c8c;
              padding: 4px 8px;
              font-size: 10px;
              border-radius: 6px;
              color: #423b3b;
              text-decoration: none;
              transition: all .1s;

              &:hover {
                opacity: .8;
                cursor: pointer;
              }
            }
          }
        }

        > .setting {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 16px;

          > .label {
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 12px;
          }

          > form {
            margin: 0;

            > input {
              background-color: #645c5c;
              border: 0;
              padding: 8px 12px;
              color: #f3e8c0;
              border-radius: 6px;
            }

            > input[type="submit"] {
              background-color: #d78c8c;
              padding: 8px 12px;
              border-radius: 6px;
              color: #423b3b;
              text-decoration: none;
              transition: all .1s;

              &:hover {
                opacity: .8;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}