form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;

  > input {
    margin-bottom: 32px;
    border: none;
    background-color: #645c5c;
    color: #d7c584;
    padding: 8px 12px;
    border-radius: 8px;
  }

  > label {
    margin-bottom: 6px;
    text-transform: uppercase;
    font-weight: bolder;
    font-style: italic;
    font-size: 12px;
  }

  > input[type="submit"] {
    background-color: #aa4444;
    color: #fcd0d0;
    transition: all .1s;

    &:hover {
      background-color: #fcd0d0;
      color: #aa4444;
      cursor: pointer;
    }
  }
}